<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>GSAP basic pack</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/main.css">
</head>

<body>
  <h1>GSAP activated</h1>

  <script src="../libs/jquery/jquery.min.js"></script>
  <script src="../libs/gsap/gsap.min.js"></script>
  <script src="../libs/gsap/CSSRulePlugin.min.js"></script>
  <script src="../libs/gsap/Draggable.min.js"></script>
  <script src="../libs/gsap/EaselPlugin.min.js"></script>
  <script src="../libs/gsap/MotionPathPlugin.min.js"></script>
  <script src="../libs/gsap/TextPlugin.min.js"></script>
  <script src="../libs/gsap/ScrollToPlugin.min.js"></script>
  <script src="../libs/gsap/ScrollTrigger.min.js"></script>
  <script src="../public/main.js"></script>
</body>

</html>
